@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
:root {
  --pink: #fcc4ec;
  --blue: #d1f2ff;
  --cream: #ffe0e0;
  --lavander: #dadaff;
  --magenta: #ebb1ff;
  --darkerpink: #dba1e9;
  --darkpurple: #945899;
}
body {
  background-color: var(--cream) !important;
  margin: 0px auto;
  font-family: "Fredoka", sans-serif !important;
}
#nav-meni li a {
  text-decoration: none;
}
.main-container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--blue);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}
.logo img {
  height: 80px;
}
.navbar.navbar-light.bg-light {
  background-color: var(--lavander) !important;
  font-family: "Modak", cursive;
}
.offcanvas-body {
  color: var(--darkpurple) !important;
}
.offcanvas-body {
  background-color: var(--lavander);
  padding: 0px !important;
}
.offcanvas-body ul {
  list-style: none;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
}
.offcanvas-body a,
.offcanvas-body li {
  text-decoration: none;
  color: var(--darkpurple);
  width: 100%;
}
.offcanvas-body a:hover,
.offcanvas-body li:hover {
  color: var(--lavander);
  background-color: var(--darkpurple);
}
#offcanvasNavbarLabel {
  font-size: 30px;
}
.offcanvas-header {
  background-color: var(--darkpurple);
  color: var(--lavander);
}
.modal-backdrop.show {
  opacity: 0;
  display: none !important;
}
.container-banner {
  background-image: url(../images/CandyShop.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  color: var(--darkpurple);
}
p.banner-text {
  font-size: 25px;
}
.col {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.col img {
  height: 300px;
  border: 3px solid #fff;
  width: inherit;
}
.card {
  width: 450px;
  margin: auto;
  border: none !important;
  background-clip: border-box;
  align-items: center;
}
.card-body {
  text-align: center;
  background-color: var(--blue);
  height: 150px;
}
.card-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.container-subscribe {
  background-color: var(--magenta);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row.row-cols-1.row-cols-md-2.g-4 {
  margin-top: 15px;
}
.container-subscribe h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.subscribe {
  color: var(--darkpurple);
}
.container-subscribe {
  margin-bottom: -25px;
}
.container-subscribe a:hover {
  color: black;
}
footer {
  background-color: var(--lavander);
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 130px;
  padding-right: 30px;
}
.container-footer ul {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}
.container-footer a li {
  color: var(--darkpurple);
  text-decoration: none;
}
footer a {
  text-decoration: none !important;
}
footer a:hover,
footer li:hover {
  color: #000 !important;
}
.nav-footer {
  text-align: left;
  /*margin-right: 30px;*/
}
.contact {
  text-align: center;
}
.social-list {
  text-align: right;
  /*margin-right: 30px;*/
}
.kategorisanje-sortiranje {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 130px;
  padding-left: 2%;
}
#kategorije {
  margin-left: 2%;
}
.proizvod {
  width: 300px;
  justify-content: center;
  align-items: center;
}
.card-body {
  width: 100%;
}
button,
select {
  background-color: var(--lavander);
}
.price {
  font-size: 20px;
  color: #808080;
}
.col-md-5 {
  background-color: var(--blue) !important;
}
.mb-3 {
  width: 100%;
  max-width: unset;
}
.beginnings {
  display: flex;
  margin-top: 40px;
}
.h1Form {
  font-weight: bold;
  text-align: center;
  color: var(--darkpurple);
  margin-top: 40px;
  margin-bottom: 20px;
}
table {
  color: var(--darkpurple);
  background-color: var(--cream);
  border-collapse: collapse;
  border: 2px solid var(--darkerpink);
  width: 50%;
}
form {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1201px) {
  .nav-header a {
    font-size: 25px;
  }
  .logo img {
    height: 65px;
  }
  .col img {
    height: 275px;
  }
  .card-body {
    width: 425px;
  }
  .container-subscribe h3 {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1111px) {
  .nav-header a {
    font-size: 20px;
  }
  .logo img {
    height: 60px;
  }
  .col img {
    height: 250px;
    width: 400px;
  }
  .card-body {
    width: 400px;
  }
  .proizvod-img {
    height: 400px !important;
  }
}
@media only screen and (max-width: 1025px) {
  .main-container {
    width: 100%;
  }
  .nav-header a {
    font-size: 23px;
  }
  .card {
    width: auto;
  }
  .row {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 850px) {
  .col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-two-rows {
    display: unset;
  }
  header {
    justify-content: space-between;
  }
  .container-subscribe h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container-subscribe h3 {
    font-size: 16px;
  }
}
